.about {
  max-width: 1240px;
  margin: 0 auto;
}

.about__content {
  max-width: 1023px;
  margin: 0 auto 38px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 768px) {
  .about {
    max-width: 100%;
    padding: 0 20px;
  }

  .about__content {
    margin: 72px 0 52px;
    gap: 28px;
    width: 100%;
  }

  .about__content .collapse__button {
    height: 30px;
    font-size: 13px;
  }

  .about__content .collapse__content {
    padding: 17px 12px 12px;
  }

  .about__content .collapse__content p {
    font-size: 12px;
    line-height: 17px;
  }

  .about-page {
    min-height: auto;
    display: block;
    padding-bottom: 0;
  }

  .about-page .footer {
    top: 20px;
    margin-bottom: -24px;
  }
}
