.error {
  max-width: 1240px;
  margin: 0 auto;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  text-align: center;
}

.error__title {
  margin: 0;
  font-size: 288px;
  font-weight: 700;
  line-height: 1;
  color: #ff6060;
}

.error__text {
  margin: 0;
  font-size: 36px;
  font-weight: 500;
  color: #ff6060;
}

.error__link {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .error {
    padding: 20px;
  }

  .error__title {
    margin: 110px 0 113px;
    font-size: 96px;
    line-height: 1;
  }

  .error__text {
    max-width: 260px;
    margin: 0 auto 113px;
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
  }

  .error__link {
    display: block;
    margin-bottom: 113px;
    font-size: 14px;
    text-align: center;
  }
}
