.home {
  max-width: 1240px;
  margin: 0 auto;
}

.home__gallery {
  background-color: #f6f6f6;
  border-radius: 25px;
  padding: 56px 50px 43px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 60px;
  margin-bottom: 50px;
}
