.about-banner {
  max-width: 1240px;
  height: 223px;
  margin: 0 auto 38px;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .about-banner {
    height: 111px;
    margin: 0 0 19px;
    border-radius: 10px;
  }
}
