.banner {
  max-width: 1240px;
  height: 223px;
  margin: 0 auto 43px;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__title {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
}
