.header {
  max-width: 1240px;
  margin: 45px auto 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 210px;
  height: auto;
  display: block;
}

.header__nav {
  display: flex;
  gap: 57px;
}

.header__link {
  font-size: 24px;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}

.header__link.active {
  text-decoration: underline;
}
