/* Le conteneur du menu */
.header {
  display: flex;
  justify-content: space-between; /* Pousse le logo à gauche et les liens à droite */
  align-items: center; /* Centre verticalement */
  margin: 40px 100px; /* Espace en haut et sur les côtés */
}

/* La taille du logo */
.header-logo {
  height: 68px;
}

/* La zone des liens */
.header-nav {
  display: flex;
  gap: 50px; /* Espace entre Accueil et A Propos */
}

/* 1. Le texte des liens par défaut */
.header-nav a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

/* 2. Quand on passe la souris (Hover) : devient rouge */
.header-nav a:hover {
  text-decoration: none;
  color: black;
}

/* 3. L'état ACTIF (La page où l'on est) : DOIT rester noir */
/* On le met en dernier avec !important pour qu'il gagne sur le rouge */
.header-nav a.active {
  text-decoration: underline !important;
  color: black !important;
}
/* Responsive : pour les écrans de téléphone (Mobile) */
@media (max-width: 768px) {
  .header {
    margin: 20px; /* On réduit l'espace autour du menu */
  }

  .header-logo {
    height: 46px; /* Le logo devient plus petit */
  }

  .header-nav {
    gap: 20px; /* On rapproche les liens */
  }

  .header-nav a {
    font-size: 12px; /* Le texte est plus petit */
    text-transform: uppercase; /* Transforme le texte en MAJUSCULES */
  }
}
