.rating {
  display: flex;
  gap: 10px;
}

.rating__star {
  font-size: 30px;
  line-height: 1;
  color: #e3e3e3;
}

.rating__star--active {
  color: #ff6060;
}

@media (max-width: 768px) {
  .rating {
    gap: 5px;
  }

  .rating__star {
    font-size: 18px;
  }
}
