.tag {
  min-width: 115px;
  height: 25px;
  padding: 0 20px;
  border-radius: 10px;
  background-color: #ff6060;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
